In [ ]:
num1 = 3.14416
num2 = 156
suma = num1 + num2
print("el resultado es: " , suma)

el resultado es:  159.14416

In [ ]:
cadena1 = "Hola"
cadena2 = " Mundo"
cadena_concatenada = cadena1 + cadena2
print(cadena_concatenada)

Hola Mundo

Crear dos variables que almacenen cada una números, realizar una multiplicación e imprimir el resultado.

In [ ]:
numero1= 345
numero2= 347
multiplicacion = numero1 * numero2
print("el resultado es: " , multiplicacion)

el resultado es:  119715

In [ ]:
(3 == 4)

False

In [ ]:
(2 < 3)

True

In [ ]:
(2 >= 2)

True

In [ ]:
#enunciados compuestos: conectores lógicos y conectores de comparación
n1= 2
n2= 5
(n1 == n2) or (n1 > n2 )

False

In [ ]:
#enunciados compuestos: conectores lógicos y conectores de comparación
n1= 2
n2= 5
(n1 == n2) or (n1 < n2 )

True

In [ ]:
#enunciados compuestos: conectores lógicos y conectores de comparación
n1= 2
n2= 5
n3= 2
(n1 == n3) and (n2 > n1 )

True

In [ ]:
#ejemplo de condición
edad = 16

if edad >= 18:
  print("Es mayor de edad")
else:
  print("Es menor de edad")

Es menor de edad

In [ ]:
valor= input("ingrese un valor: ")
print(valor)

ingrese un valor: 3
3

In [ ]:
type(valor)

str

In [ ]:
valor1= int(input("ingrese un valor: "))
print(valor1)

ingrese un valor: 3
3

In [ ]:
type(valor1)

int

In [ ]:
#ejemplo de condición
edad = (int(input("dame tu edad: ")))

if edad >= 18:
  print("Es mayor de edad")
else:
  print("Es menor de edad")

dame tu edad: 34
Es mayor de edad

In [ ]:
#es una estructura de condición
edad = int(input("Ingresa tu edad: "))

if edad < 18:
  print("Eres menor de edad")
elif 18 <= edad <= 35:
  print("Eres un adulto")
else:
  print("Eres un premiazo")

Ingresa tu edad: 34
Eres un adulto

In [ ]:
#uso de for in: ciclo
palabra="python"
for letra in palabra:
  print(letra)

p
y
t
h
o
n

In [ ]:
for i in range(0, 12):
  print(i + 2)

2
3
4
5
6
7
8
9
10
11
12
13

In [ ]:
#una variable que almacene mi nombre, y lo imprima 10 veces
nombre="Mildred"
for i in range(1, 11):
  print(nombre)

Mildred
Mildred
Mildred
Mildred
Mildred
Mildred
Mildred
Mildred
Mildred
Mildred

In [ ]:
edad = int(input("Ingresa tu edad: "))

for i in range(1, edad + 1):
  print(i)

Ingresa tu edad: 34
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

Escribir un programa que pida al usuario un número entero positivo y muestre por pantalla todos los números impares desde 1 hasta ese número separados por comas.

In [ ]:
numero = int(input("Ingresa un número entero positivo: "))

if numero <= 0:
  print("Por favor, ingresa un número entero positivo.")
else:
  impares = []
  for i in range(1, numero + 1):
    if i % 2 != 0:
      impares.append(str(i))
  print(",".join(impares))

Ingresa un número entero positivo: 34
1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33

In [ ]:
#crear una lista de nombres de estudiantes
estudiantes= ["Mildred", "Diana", "Luisa", "Christian", "Juan", "Felipe", 6]
for estudiante in estudiantes:
  print("Hola mi querid@: " , estudiante)

Hola mi querid@:  Mildred
Hola mi querid@:  Diana
Hola mi querid@:  Luisa
Hola mi querid@:  Christian
Hola mi querid@:  Juan
Hola mi querid@:  Felipe
Hola mi querid@:  6

In [ ]:
#crear una lista vacía y la vamos a llenar de 1 en 1, con nombres de amigos
amigos=[]
for i in range(1,6):
  amigo=input("Ingresa el nombre de tu amigo: ")
  amigos.append(amigo)
print(amigos)

Ingresa el nombre de tu amigo: er
Ingresa el nombre de tu amigo: e
Ingresa el nombre de tu amigo: e
Ingresa el nombre de tu amigo:
Ingresa el nombre de tu amigo: e
['er', 'e', 'e', '', 'e']

Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista, pregunte al usuario la nota que ha sacado en cada asignatura, y después las muestre por pantalla con el mensaje En `asignatura` has sacado `nota` donde `asignatura` es cada una des las asignaturas de la lista y `nota` cada una de las correspondientes notas introducidas por el usuario.

In [ ]:
# Store the subjects in a list
asignaturas = ["Matemáticas", "Física", "Química", "Historia", "Lengua"]
notas = []

# Ask the user for the grade in each subject
for asignatura in asignaturas:
  while True:
    try:
      nota = float(input(f"¿Qué nota has sacado en {asignatura}? "))
      if 0 <= nota <= 10:
        notas.append(nota)
        break
      else:
        print("Por favor, ingresa una nota entre 0 y 10.")
    except ValueError:
      print("Entrada inválida. Por favor, ingresa un número.")

# Display the subject and the corresponding grade
print("\n--- Tus notas ---")
for i in range(len(asignaturas)):
  print(f"En {asignaturas[i]} has sacado {notas[i]}")

¿Qué nota has sacado en Matemáticas? 4.5
¿Qué nota has sacado en Física? 5
¿Qué nota has sacado en Química? 3
¿Qué nota has sacado en Historia? 2
¿Qué nota has sacado en Lengua? 0

--- Tus notas ---
En Matemáticas has sacado 4.5
En Física has sacado 5.0
En Química has sacado 3.0
En Historia has sacado 2.0
En Lengua has sacado 0.0

In [ ]:
# Crear la lista solicitada
partipantes = ["sara", "juana", "mengana", "oidor"]

# Imprimir cada nombre con el formato pedido
for participante in partipantes:
    print(f"¿hola, cómo estas? {participante}")

¿hola, cómo estas? sara
¿hola, cómo estas? juana
¿hola, cómo estas? mengana
¿hola, cómo estas? oidor

In [ ]:
#crear una funcion sin parametro
def saludar():
  print("hola, bienvenido")

In [ ]:
saludar()

hola, bienvenido

In [ ]:
saludar()
saludar()

hola, bienvenido
hola, bienvenido

In [ ]:
#función con parámetros
def saludar2(nombre):
  print("hola " + nombre)

In [ ]:
saludar2("Mildred")

hola Mildred

In [8]:
'''
una funcion que reciba por parámetro dos valores enteros y una opción, si la
opción es 1: suma, 2: resta, 3: multiplica.
'''

def calcular(numero1, numero2, opcion):

  if opcion == 1:
    print("El resultado de su operación suma es: ", numero1 + numero2)
  elif opcion == 2:
    print("El resultado de su operación resta es: ", numero1 - numero2)
  elif opcion == 3:
    print("El resultado de su operación multiplicación es: ", numero1 * numero2)
  else:
    print("OPERADOR INVÁLIDO")

def llenarCalcular():
  print(":::::::::::::::Bienvenido a la calculadora::::::::::::::")
  print("")
  numero1 = int(input("Ingresa el primer número: "))
  numero2 = int(input("Ingresa el segundo número: "))
  opcion = int(input("Ingresa la operación que deseas realizar (1. Suma, 2. Resta, 3. Multiplicación): "))
  calcular(numero1, numero2, opcion)

llenarCalcular()

:::::::::::::::Bienvenido a la calculadora::::::::::::::

Ingresa el primer número: 2
Ingresa el segundo número: 4
Ingresa la operación que deseas realizar (1. Suma, 2. Resta, 3. Multiplicación): 3
El resultado de su operación multiplicación es:  8